beautifulsoup4
lxml
numpy
requests
altair
appnope
argon2-cffi
astor
async-generator
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
chardet
click
decorator
defusedxml
entrypoints
gitdb
GitPython
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycparser
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
scikit-learn
scikit-surprise
scipy
Send2Trash
six
smmap
streamlit
terminado
testpath
threadpoolctl
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
